@font-face {
	font-family: elk;
	src: url("https://fonts.cdnfonts.com/css/elkwood")
}

* {
    outline: none;
    box-sizing: border-box;
	font-family: elk;
}
body, html {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100%;
}
.main-content {
    position: relative;
    background-color: orange;
}
.nav {
	width: 100%; 
	height: 70px;
	background-color: #0288d1;
	position: fixed;    
	box-shadow: -2px 3px 3px rgba(0, 0, 0, 0.3);
	z-index: 20;
}

.content {
	width: 100%;
	height: 100%;
	background-color: #ddd;
	position: relative;
	padding-top: 70px;
}

.sider {
	width: 300px;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 25;
	background-color: #1976D2;
	box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
	display: none;
}

.sider-close {
	background-color: #C62828;
	color: white;
	width: 50px;
	height: 30px;
	border: none;
	position: absolute;
	right: 10px;
	top: 5px;
	border-radius: 4px;
}

.sider-item {
	padding-top: 50px;
}

.menu {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
}

.menu-item {
	background-color: rgba(255, 255, 255, 0.3);
	width: 100%;
	height: 40px;
	border: none;
	color: #ddd;
	font-weight: bold;
}
.menu-item:hover{
	background-color: rgba(255, 255, 255, 0.8);
	color: black;
}

.profile-icon {
	width: 50px;
	height: 50px;
	background-color: #eee;
	position: absolute;
	left: 10px; 
	top: 9px;
    border-radius: 50%;
}

.profile-name {
	height: 30px;
	font-size: 15pt;
	position: absolute;
	top: 21px;
	left: 68px;
	font-weight: bold;
	color: white;
}

